body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-container{
    background-color: whitesmoke;
    border: 1px solid black;

}
.new-container {
    background-color: silver;
    border: 5px;

}
.list_container{
    background-color: lavender;
    border: 5px;

}
.todo_detail{
    float: left;
}
.box{
    margin-top: 5px;
    margin-left: 5px;
}
.form-control-bar{
    width: 60%;
}
.finished-checkbox{
    width: 40px;
    height: 40px;
}